<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Formula Playground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JoyfillExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JoyfillTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JoyfillUIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JoyfillUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Test Formulas (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>134FC0762BDA82E9008B7030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BAA1D62C7DC98100E29987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BAA1EB2C7DC98300E29987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BAA1F52C7DC98300E29987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36E4EC322BDA349900F3A433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA529C492BA1D251000200F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA529C5A2BA1D253000200F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA529C642BA1D253000200F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
